*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing:border-box;
          box-sizing:border-box;
}

:root{
  --pink-color: #F58C93;
  --voilet-color: #5858BA;
  --round-border: 15px;
}

html{
  color: rgb(41, 41, 41);
  font-family: 'Roboto', sans-serif;
}

body{
  background: #F6F6FE;
  padding: 2rem;
}

/* filter section */
.filter-section{
  background-color: #F5E9EB;
  padding: 2rem 3rem;
  border-radius: var(--round-border);
}

.invoices-heading{
  font-weight: 500;
  font-size: 2rem;
  color: var(--pink-color);
}

.filter-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 1rem;
  width: 70%;
  margin: 1rem 0rem;
}

.filter-container{
  
}


.filter-label{
  font-weight: 500;
  margin: 0.5rem 0rem;
}

.filter-input{
  border: none;
  font-family: "Roboto";
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 10px;
  color: rgb(235, 235, 235);
}

.filter-input option{
  color: black;
}

.filter-input:hover,.filter-input:focus {
  border: none;
  outline: none;
}

.filter-input::-webkit-calendar-picker-indicator{
  -webkit-filter: invert(1);
          filter: invert(1);
}

.filter-input.begin{
  background-color: var(--voilet-color);
}

.filter-input.end{
  background-color: #9FA3E0;
}

.filter-input.status{
  background: var(--pink-color);
}

.filter-input option{
  background: white;
}


.filter-input.client{
  background-color: #6F8EFA;
}

select{
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAACXBIWXMAAAsTAAALEwEAmpwYAAABkUlEQVR4nN2UTU4CQRCFJxBIjLB0IUcQLoAr//YaRL2B0UCG6C0UL+BWjR7DlR5AMWLQrQuW4ELcfKawJimg588lL+lk5lX1q5lX3eV5cw0gDxwAt0AX+NLVVW5fcv4rvgt8EI93oJZGOAtcGIEnoAWUgUVdZeWeTV4byCQpEIh/A8dRm/RjGsBI95wnsSUQX0/x1xumyE5UQwPPj5KKBwCaurfnbLyelsDzeC/ddnVUY8+VcKdB33BXwMJM8uRfX5r3E9W4cSW/aXDFcIJHoOTIL2kMw1XGO6DrKjDUYGGqgKAPrBl+FfgcRyYLFJUaugoMNFg03KE5HSN9n+EcBQaJLFK+ar/WQLjqVG6kRTJbBC1HbAm4N+IPwLIj71Tj164CMrjQ658NOzH8rXzIMX1RjboXIiCDS9DwUgLwzUXLhSXVTPM2U4hvAT+6dzsuuW2KNF12TdniG/GzJF+TkaloGtrRGyonpKCrog0NPB+LpxoxMhXVzzj0Ym2JKJKTwSWzBXjV2y5LnoWrhzZ0bvALCC8xe8vDvF8AAAAASUVORK5CYII=') !important;
    background-repeat: no-repeat, repeat !important;
    background-position: right .7em top 50%, 0 0 !important;
    background-size: 1em auto, 100% !important;
}

.info{
  margin-top: 2rem;
  color: rgb(107, 107, 107);
}

/* filter section end */

/* table section */
.invoice-table{
  width: 100%;
  margin: 2rem 0rem;
  text-align: center;
  border-collapse: collapse;

}

.invoice-table-header{
  padding: 1rem;
  background: white; 
}

.invoice-table-header th{
  padding: 1rem;
  background: white; 
  font-weight: 500;
  cursor: pointer;
}

.invoice-table-header th:hover img{
  opacity: 0.5;
}

.invoice-table-header th:first-child{
  border-bottom-left-radius: var(--round-border);
  border-top-left-radius: var(--round-border);
}

.invoice-table-header th:last-child{
  border-top-right-radius: var(--round-border);
  border-bottom-right-radius: var(--round-border);
}

tbody{
  background: white;
}

tbody:before {
  line-height:1em; 
  content:"\200C"; 
  display:block; 
  background: #F6F6FE;
}

td{
  padding: 1rem;
}

tr:first-child td:first-child{
  border-top-left-radius: var(--round-border);
}

tr:first-child td:last-child{
  border-top-right-radius: var(--round-border);
}

tr:last-child td:first-child{
  border-bottom-left-radius: var(--round-border);
}

tr:last-child td:last-child{
  border-bottom-right-radius: var(--round-border);
}

.invoice-number, .invoice-client-name, .invoice-client-type{
  color: var(--voilet-color);
}

.invoice-date, .invoice-due-date{
  color: gray;
}

.invoice-total, .invoice-balance{
  color: var(--pink-color);
}

.status-type{
  padding: 0.2rem 0.8rem;
  border-radius: 5px;
  color: white;
}

.status-type.paid {
  background: #6F8EFA;
}

.status-type.draft {
  background: var(--pink-color);
}

.status-type.partial.payment {
  background: var(--voilet-color);
}

.invoice-status{
  text-align: left;
}

/* table section end *